.card-bar {
	background-color: #EEEEEE;
	padding: 0.5em;
	width: auto;
	border-radius: 0.5em;
}

.card-bar-img {
	width: 100%;
	display: block;
	border-radius: 0.5em;
}

.card-bar-titulo {
	font-weight: 500;
}

.card-bar-disponibilidade-img {
	width: 20px;
	height: 20px;
	color: black;
}