h2 {
	font-weight: 700;
	font-size: 1.5em;
}

h3 {
	font-weight: 500;
	font-size: 1em;
}

.home {
	padding: 2em;
}

.home-bares {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}